<div class="card-top container-fluid">
  <div class="container d-flex my-3">
    <div class="item">
      <a>
        <img src="../../../assets/allbook.jpg" class="rounded" alt="" />
        <h1>All Books</h1>
      </a>
    </div>
    <div class="item" >
      <a>
        <img
          src="../../../assets/bestseller.jpg"
          alt=""
        />
        <h1 color="primary" >Best Sellers</h1>
      </a>
    </div>
    <div class="item">
      <a>
        <img 
        src="../../../assets/comic.jpg" alt="" />
        <h1>Comics</h1>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="../../../assets/educationalbook.jpg" alt="" />
        <h1>Educational Books</h1>
      </a>
    </div>
  </div>
</div>
