<mat-toolbar color="primary">
  <button (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>BOOKhub</span>
  <span class="example-spacer">
    <div class="form-group" >
    
      <input type="text"  class="form-control mx-5 my-3 p-2" placeholder="Search Books">
     
 </div>
 <mat-icon class="search-icon" color="primary">search</mat-icon>
  </span>


  <a routerLink="login"
    ><button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon class="icon-link">login</mat-icon>
    </button></a
  >
  <button mat-button routerLink="cart" >
    <mat-icon matBadge="7" matBadgeColor="warn" matBadgeOverlap="false">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer [opened]="false" mode="over"> 
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="dashboard">
          <mat-icon>dashboard</mat-icon>Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="">
          <mat-icon>home</mat-icon>home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="bestseller">
          <mat-icon>sell</mat-icon>Bestsellers
        </button>
      </mat-list-item>
      
      <mat-list-item>
        <button mat-button routerLink="wishlist">
          <mat-icon>favorite</mat-icon>Wishlist
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="cart" >
          <mat-icon>shopping_cart</mat-icon>My cart
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="orders" >
          <mat-icon>shopping_bag</mat-icon>Orders
        </button>
      </mat-list-item>
     </mat-nav-list>  
  </mat-drawer>
  <mat-drawer-container>
   <div style="text-align: center; min-height: 837px;">
    <router-outlet></router-outlet>
   </div>
  </mat-drawer-container>
</mat-drawer-container>
